# Virtual Environments
.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env
.env.*
!.env.example

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
**/.langgraph_api/*
